body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;  
}
.container {
    padding: 1rem 10rem;
    color:white;
}
html, body {
  height: 100%;
  margin:0;
  line-height:1.4;
  word-spacing:0.3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Details {
  margin-top: 10rem;
  background-color: rgb(12, 15, 20);
  color:white;
  padding-top: 4rem;
}

@media only screen and (max-width: 600px) {
  .App {
    padding:0 0.5rem;
  }
}

a {
  text-decoration:none;
  color:#5a67d8;

}
p, a {
  font-size:1.2rem;
}

h1 span{
  border-bottom: 2px solid #5a67d8;
  
}