body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.container {
    padding: 1rem 10rem;
    color:white;
}
html, body {
  height: 100%;
  margin:0;
  line-height:1.4;
  word-spacing:0.3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Details {
  margin-top: 10rem;
  background-color: rgb(12, 15, 20);
  color:white;
  padding-top: 4rem;
}

@media only screen and (max-width: 600px) {
  .App {
    padding:0 0.5rem;
  }
  .container {
    padding: 1rem 2rem;
  }
  .Details {
    margin-top:2rem;
  }
}

@media only screen and (max-width: 1020px) {
  
  .container {
    padding: 1rem 3rem;
  }
}
a {
  text-decoration:none;
  color:#5a67d8;

}
p, a {
  font-size:1.2rem;
}

h1 span{
  border-bottom: 2px solid #5a67d8;
  
}

.rocket {
  background-color: rgb(26, 32, 44);
  border-radius: 20px;
}

.rocket img {
  width:100%;
  height:200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.rocket div {
  padding: 1rem;
  line-height: 1.3rem;
}

.margin {
  margin-top: 8rem;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

button {
  background-color: #5a67d8;
  border: 2px solid #5a67d8;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.launchBtn {
  text-align:center;
  margin:4rem;
}